body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    font-size: 20px;
    color: #039be5;
    text-decoration: underline;
}
